{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TheRoomManager</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  {% include 'partials/navbar.html' %}

  <!-- Sidebar -->
  {% include 'partials/sidebar.html' %}

  <!-- Content Wrapper -->
  <div class="content-wrapper">
      <section class="content pt-3">
          <div class="container-fluid">
              {% block content %}
              {% endblock %}
          </div>
      </section>
  </div>

</div>

<!-- JS -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>

</body>
</html>
