{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login | TheRoomManager</title>

  <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
    <img src="{% static 'images/logo.png' %}" alt="TheRoomManager Logo" style="height:150px;">
</a>
  </div>

  <div class="card">
    <div class="card-body login-card-body">

      <p class="login-box-msg">Sign in to start your session</p>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <form method="POST">
        {% csrf_token %}

        <div class="input-group mb-3">
          <input type="text" name="username" class="form-control" placeholder="Username" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-user"></span></div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-lock"></span></div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
      </form>

      <p class="mb-0 mt-3">
        <a href="{% url 'register' %}" class="text-center">Create an account</a>
      </p>

    </div>
  </div>
</div>

<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>

</body>
</html>
